QPushButton{
    background-color: rgb(245, 232, 50);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

QDoubleSpinBox{
    background-color: rgb(45, 45, 45);
    color: white;
}

QComboBox{
    background-color: rgb(245, 232, 50);
    color:rgb(0, 0, 0);
    border-radius: 10px;
}
QComboBox::drop-down{
    image: url(icon/dropdown.svg);
    width: 35px;
    height: 35px;
} 

QTextEdit{
    border-radius: 10px;
    background-color: rgb(45,45,45);
    color: white;
}

QListWidget{
    background-image: url(background.png);
    color: white;
    border: none;
}

QSpinBox{
    background-color: rgb(45, 45, 45);
}

QLabel {
    color: white;
}
